table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: black;
  border-bottom: 'solid 3px red';
}

tr:nth-of-type(odd) {
  background: white;
}
tr:nth-of-type(even) {
  background: #e0e0e0;
}
tr:hover {
  background: #e0e0e0;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}
